// color
$colorPrimary: #4285f4;
$colorWarn: #f4a742;
$fontPrimary: #454340;

// background
$bgColorDefault: #f9f9f9;
$bgColorTap: rgba(0, 0, 0, 0.2);

// line
$lineColorDefault: #e6e6e6;

// text
$textColorTitle: #333333;
$textColorParagraph: #666666;
$textColorTips: #999999;
